// Для импорта в диспетчер подключений: @import './src/less/blocks/review.less';


.review {
	background-color: rgba(255,255,255,.8);
	padding: 10px;
	border-radius: 10px;
	width: 280px;
	height: 360px;
	margin: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	@media(min-width: @screen-md) and (max-width: @screen-lg) {
		margin: 0 10px;
	}
	@media (min-width: @screen-xs) and (max-width: @screen-sm) {

	}

	&__title {
		font-size: 38px;
		color: #fff;
		font-weight: 500;
		text-align: center;

		span {
			color: @green-color;
		}
	}

	&__wrapper {
		height: 660px;
		background-image: url('/img/review_bgr.png');
		padding-top: 45px;
		padding-bottom: 60px;

		.slick-arrow {
			font-size: 0;
			background-color: transparent;
			border: 0;
			display: inline-block;
			width: 20px;
			height: 38px;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			transition: 0.3s;
			opacity: 1;

			&:hover {
				opacity: 0.5;
				transition: 0.3s;
			}
		}
		.slick-next {
			background-image: url('/img/icon_arrow_gallery_next.png');
			right: 0px;
			@media(min-width: @screen-md) and (max-width: @screen-lg) {
				right: 30px;
			}
		}
		.slick-prev {
			background-image: url('/img/icon_arrow_gallery.png');
			left: 0px;
			@media(min-width: @screen-md) and (max-width: @screen-lg) {
				left: 30px;
			}
		}
		.slick-prev:before, .slick-next:before {
			display: none;
		}
		.slick-dots li.slick-active button:before {
			width: 25px;
			height: 25px;
			background-color: #fff;
			border-radius: 50%;
			color: #fff;
			opacity: 1;
		}
		.slick-dots li button:before {
			width: 25px;
			height: 25px;
			background-color: @gray-color;
			border-radius: 50%;
			color: @gray-color;
			opacity: 1;
		}
		.slick-dots {
			padding: 0 100px;
			bottom: -70px;
			left: 0;

			@media (min-width: @screen-xs) and (max-width: @screen-sm) {
				padding: 0 10px;
			}
		}
	}
	&__card-wrapper {
		padding: 0 100px;
		padding-top: 50px;

		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			padding: 0 10px;
			padding-top: 25px;
		}
	}
	&__img-wrapper {
		width: 110px;
		height: 110px;
		position: relative;

		@media(min-width: @screen-md) and (max-width: @screen-lg) {
			width: 90px;
			height: 90px;
		}
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&__info {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		@media(min-width: @screen-md) and (max-width: @screen-lg) {
			height: 115px;
		}

		span {
			padding-left: 10px;
		}
	}
	&__name {
		font-size: 18px;
		font-weight: 600;
		margin-top: 10px;
	}
	&__rating {
		display: flex;
		flex-direction: row;
	}
	&__text {
		font-size: 16px;
		color: @gray-color;
		line-height: 18px;

		&:last-of-type {
			margin-top: 15px;
		}
	}
	&__bq {
		margin-top: 20px;
	}
	&__bq-title {
		font-size: 18px;
		font-weight: 600;
		width: 100%;
		border-bottom: 1px dotted @gray-color;
		padding-bottom: 5px;
	}
	&__bq-text {
		font-size: 16px;
		color: @black-color;
		margin-top: 10px;
	}

}
